.vscode/**
.vscode-test/**
**/src/test/**
**/scripts/**

# don't include the git internal data
.github/**

# don't include boost analysis
.boost/**

# don't include pre-build source/input, interim build output, or log output
**/*.ts
**/*.map
**/**.vsix
logs/**
node_modules/**
node_modules/@types/**

# Ignore all files in the root except the ones we want to publish
**/tsconfig.json
**/.eslintrc.json
build_instructions.sh
.eslintignore
.prettierrc
.gitignore
.yarnrc
esbuild.js
internal_readme.md
raw_instructions.md
.boostignore
vsc-extension-quickstart.md
