.vscode/**
.vscode-test/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
.boost/**
node_modules/**
node_modules/@types/**
**/*.ts
**/*.map
**/src/test/**
**/scripts/**
**/**.vsix
build_instructions.sh
.eslintignore
.prettierrc
.gitignore
.yarnrc
esbuild.js
internal_readme.md
raw_instructions.md
.boostignore
src/test/**