<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Polyverse Boost AI Chat</title>
</head>
<body>
	<div id="chat_history"><%= history %></div>
	<vscode-text-area autofocus id="prompt" resize="both" cols="200">AI Chat. Your project context is automatically included.</vscode-text-area>
	<div>
		<vscode-button id="send">Send</vscode-button>
	</div>
    <script src="<%= jsSrc %>" type="module"> </script>

</body>
</html>
