<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Polyverse Boost Start Panel</title>
</head>
<body>
	<p>Boost Settings for <%= boostprojectdata.summary.projectName %></p>
	<p>&nbsp</p>
	<p><%= aiName %> (Boost AI) will analyze and assist you with your Project Architecture, performance, security, data compliance, documentation, testing, new features and sustaining.
    <p><%= aiName %> is analyzing </p> the <%= boostprojectdata.summary.filesToAnalyze %> files in your project.</p>
	<p>&nbsp</p>
	<p><ul>
        <li><vscode-link id="blueprint-link" href="<%= blueprintFile %>"> Boost Architectural Summary </vscode-link>: Automatically-generated Overview of your Project</li>
        <li><vscode-link id="guidelines-link" href="<%= guidelinesFile %>"> Boost Project Guidelines </vscode-link>: Your guidelines (written in natural language) for how <%= aiName %> helps you, including analysis guidelines and requirements for your project</li>
    </ul>
	<p>&nbsp</p>
    <p>You can also ask <%= aiName %> for help with Boost, along with advice and recommendations about your project, in the Chat window below.</p>
	<p>&nbsp</p>
    <script src="<%= jsSrc %>" type="module"> </script>

</body>
</html>
