<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Polyverse Boost Dashboard</title>
	<style>
        .right-aligned {
            display: flex;
            justify-content: flex-end;
        }
		.boost-completed {
			--badge-background: lightgreen;
		}

		.boost-processing{
			--badge-background: lightblue;
		}

		.boost-incomplete {
			--badge-background: lightyellow;
		}

		.boost-not-started {
			--badge-background: pink;
		}
	</style>
</head>
<body>
	<h1>Status Summary</h1>
	<vscode-data-grid aria-label="Summary">
		<% _.forEach(boostdata.sectionSummary, function(analysisObj) { %>
			<vscode-data-grid-row >
				<vscode-data-grid-cell grid-column="1"><vscode-checkbox checked><%= analysisObj.analysis %></vscode-checkbox></vscode-data-grid-cell>
				<vscode-data-grid-cell grid-column="2"><vscode-badge class=<%= 'boost-' + analysisObj.status %>><%= analysisObj.completed + '/' + (analysisObj.total) %></vscode-badge></vscode-data-grid-cell>
			</vscode-data-grid-row>
		  <% }); %>
	</vscode-data-grid>

    <vscode-button>Update Boost Analysis</vscode-button>
    <script src="<%= jsSrc %>" type="module"> </script>
	<script>
        
		const vscode = acquireVsCodeApi();

		function sendMessage() {
			vscode.postMessage({ type: 'refresh' });
		}
	</script>

</body>
</html>
